.section-video {
    padding: 50px 0;
    background-color: #000;
    height: max-content;
    .big-wrapper {
        display: flex;
        flex-direction: row;
        gap: 20px;
        @media (max-width: 1023px) {
            gap: 15px;
        }
        @media (max-width: 639px){
            flex-direction: column;
            gap: 10px;
        }
    }
}
.left__col {
    width: 50%;
    position: relative;
    cursor: pointer;
    @media (min-width: 1024px) {
        height: 280px;
    }
    @media (max-width: 1023px) {
        height: 210px;
    }
    @media (max-width: 767px) {
        width: 360px !important;
        .big-video {
            height: 202px !important;
        }
    }
    @media (max-width: 639px){
        width: 100% !important;
        height: 259px;
        .big-video {
            height: 259px !important;
        }
    }
    @media (max-width: 479px){
        height: 221px;
        .big-video {
            height: 221px !important;
        }
    }
    .wrapper {
        height: 100%;
        width: 100%;
    }
    .rps-iframe {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &:hover {
        .section-video-item-play {
            background-color: #ff4e00;
        }
    }
    .item__title{
        @media (max-width: 767px){
            font-size: 16px;
            margin: 5px 0;
            line-height: 20px;
        }
    }

}
.section-video-item-meta {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
    @media (min-width: 1024px) {
        padding: 40px 20px 10px;
    }
    @media (max-width: 767px) {
        position: relative;
        padding: 15px 0;
    }
    @media (max-width: 639px){
        position: absolute;
        padding: 30px 10px 10px;
    }
    .item__title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .section-video-item-description {
        margin: 5px 0 0;
        font-size: 13px;
        color: #aaa;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @media (max-width: 767px){
            margin: 10px 0;
        }
        @media (max-width: 639px){
            margin: 5px 0 0;
        }
    }
}
.section-video-item-play {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    font-size: 35px;
    color: #fff;
    background-color: rgba(255, 78, 0, 0.65);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        width: 40px;
        height: 40px;
    }
    @media(max-width: 479px){
        left: 5px;
        top: 5px;
    }
}

.right__col {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 1023px) {
        gap: 15px;
    }
    @media (max-width: 767px) {
        width: 260px !important;
    }
    @media (max-width: 639px){
        width: 100% !important;
        gap: 10px;
    }
    .item__video {
        display: flex;
        position: relative;
        width: 100%;
        &:hover {
            .section-video-item-play {
                background-color: #ff4e00;
            }
        }
        .thumbnail__video {
            float: left;
            margin-right: 10px;
            overflow: hidden;
            @media (min-width: 1024px) {
                width: 142px;
                height: 80px;
            }
            @media (max-width: 1023px) {
                width: 107px;
                height: 60px;
            }
            @media (max-width: 767px) {
                width: 100%;
                height: 100%;
                margin-right: 0;
            }
            @media (max-width: 639px){
                width: 175px;
                height: 98px;
                margin-right: 10px;
            }
            @media (max-width: 479px){
                width: 160px;
                height: 90px;
            }
            @media (max-width: 375px){
                width: 142px;
                height: 80px;
            }
        }
        .rps-iframe {
            width: 100%;
            height: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .content__video {
        width: auto;
        @media (min-width: 1024px) {
            width: calc(100% - 152px);
        }
        @media (max-width: 767px) {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px;
            h3 {
                font-size: 12px;
                line-height: 16px;
                margin: 0;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
        @media (max-width: 639px){
            position: unset;
            width: calc(100% - 185px);
            padding: 0;
        }
        @media (max-width: 479px){
            width: calc(100% - 170px);
        }
        @media (max-width: 357px){
            width: calc(100% - 152px);
        }
    }
    .item-genre {
        color: #ff4e00;
    }
    .item-date {
        color: #dddddd;
    }
    .section-video-item-title {
        margin: 5px 0;
        color: #e2e2e2;
    }
    .section-video-item-play {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 30px;
        height: 30px;
        font-size: 35px;
        color: #fff;
        background-color: rgba(255, 78, 0, 0.65);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 25 px;
            height: 25px;
        }
    }
}
